
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BudgetTrail</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body class="bg-gray-100">
    <nav>
        <div class="container">
            <a href="{% url 'dashboard' %}" class="text-2xl font-bold">Cash Flow App</a>
            <div>
                <a href="{% url 'dashboard' %}">Dashboard</a>
                <a href="{% url 'transaction_list' %}">Transactions</a>
                <a href="{% url 'transaction_create' %}">Add Transaction</a>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>