{% extends 'main/base.html' %}

{% block content %}
<h1 class="text-3xl font-bold mb-6">Transactions</h1>
<table class="w-full bg-white rounded shadow">
    <thead>
        <tr class="bg-gray-200">
            <th class="p-2 text-left">Date</th>
            <th class="p-2 text-left">Description</th>
            <th class="p-2 text-left">Type</th>
            <th class="p-2 text-right">Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td class="p-2">{{ transaction.date }}</td>
            <td class="p-2">{{ transaction.description }}</td>
            <td class="p-2">{{ transaction.transaction_type|capfirst }}</td>
            <td class="p-2 text-right {% if transaction.transaction_type == 'income' %}text-green-600{% else %}text-red-600{% endif %}">
                ${{ transaction.amount }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}