{% extends 'main/base.html' %}

{% block content %}
<h1>Add Transaction</h1>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="{% if field.name == 'expense_category' %}hidden{% endif %}" id="{{ field.name }}_field">
        <label for="{{ field.id_for_label }}">
            {{ field.label }}
        </label>
        {{ field }}
        {% if field.errors %}
        <p class="text-red">{{ field.errors.0 }}</p>
        {% endif %}
    </div>
    {% endfor %}
    <button type="submit">
        Add Transaction
    </button>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const transactionTypeField = document.getElementById('id_transaction_type');
        const expenseCategoryField = document.getElementById('expense_category_field');

        function toggleExpenseCategory() {
            if (transactionTypeField.value === 'expense') {
                expenseCategoryField.classList.remove('hidden');
            } else {
                expenseCategoryField.classList.add('hidden');
            }
        }

        transactionTypeField.addEventListener('change', toggleExpenseCategory);
        toggleExpenseCategory();
    });
</script>
{% endblock %}